#box{
    font-size: 16px;
    color: orange;
}
#box2{
    font-size: 160px;
    color: orange;
}
.red{
    font-size: 22px;
    color: blueviolet;
}
.a{
    color:lawngreen;
}
.b{
    background-color:brown;
}
.c{
    font-weight: bolder;
}
.d{
    text-decoration: underline;
}